In [75]:
## for data
import numpy as np
import pandas as pd
## for plotting
import matplotlib.pyplot as plt
import seaborn as sns
## for geospatial
import folium
import geopy
## for machine learning
from sklearn import preprocessing, cluster
import scipy
## for deep learning
import minisom

In [76]:
data = pd.read_csv("world_country_and_usa_states_latitude_and_longitude_values.csv")
data.head()

,country_code,latitude,longitude,country,usa_state_code,usa_state_latitude,usa_state_longitude,usa_state
0,AD,42.546245,1.601554,Andorra,AK,63.588753,-154.493062,Alaska
1,AE,23.424076,53.847818,United Arab Emirates,AL,32.318231,-86.902298,Alabama
2,AF,33.939110,67.709953,Afghanistan,AR,35.201050,-91.831833,Arkansas
3,AG,17.060816,-61.796428,Antigua and Barbuda,AZ,34.048928,-111.093731,Arizona
4,AI,18.220554,-63.068615,Anguilla,CA,36.778261,-119.417932,California

In [93]:
ww = data[['country_code', 'latitude', 'longitude', 'country']]
ww.head()

  country_code   latitude  longitude               country
0           AD  42.546245   1.601554               Andorra
1           AE  23.424076  53.847818  United Arab Emirates
2           AF  33.939110  67.709953           Afghanistan
3           AG  17.060816 -61.796428   Antigua and Barbuda
4           AI  18.220554 -63.068615              Anguilla

In [94]:
ww.shape

(245, 4)

In [95]:
ww.tail(10)

    country_code   latitude   longitude            country
235           VN  14.058324  108.277199            Vietnam
236           VU -15.376706  166.959158            Vanuatu
237           WF -13.768752 -177.156097  Wallis and Futuna
238           WS -13.759029 -172.104629              Samoa
239           XK  42.602636   20.902977             Kosovo
240           YE  15.552727   48.516388              Yemen
241           YT -12.827500   45.166244            Mayotte
242           ZA -30.559482   22.937506       South Africa
243           ZM -13.133897   27.849332             Zambia
244           ZW -19.015438   29.154857           Zimbabwe

In [96]:
ww.dropna(inplace=True)
ww.shape

<ipython-input-96-5c5f217eada1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ww.dropna(inplace=True)

(243, 4)

In [97]:
from k_means_constrained import KMeansConstrained

In [98]:
ww = ww.round(5)
ww.shape

(243, 4)

In [100]:
np.random.seed(1234)
# Run K-Means algorithm
neps = 10
capacity = 8
x = int(ww.shape[0]/capacity)
complement = int(capacity + ((50/100)*capacity))
clf = KMeansConstrained(
     n_clusters=x,
     size_min=capacity,
     size_max=complement,
     random_state=0
)

In [101]:
kmodel = clf.fit(ww[['latitude', 'longitude']])

In [102]:
# Assign labels into a column
ww["label"] = kmodel.labels_
ww.head()

  country_code  latitude  longitude               country  label
0           AD  42.54624    1.60155               Andorra     28
1           AE  23.42408   53.84782  United Arab Emirates     14
2           AF  33.93911   67.70995           Afghanistan     12
3           AG  17.06082  -61.79643   Antigua and Barbuda     13
4           AI  18.22055  -63.06862              Anguilla     13

In [103]:
ww['vlr_deb'] = np.random.randint(0,1000, size=len(ww))
ww.head(20)

   country_code  latitude  longitude                 country  label  vlr_deb
0            AD  42.54624    1.60155                 Andorra     28      815
1            AE  23.42408   53.84782    United Arab Emirates     14      723
2            AF  33.93911   67.70995             Afghanistan     12      294
3            AG  17.06082  -61.79643     Antigua and Barbuda     13       53
4            AI  18.22055  -63.06862                Anguilla     13      204
5            AL  41.15333   20.16833                 Albania     21      372
6            AM  40.06910   45.03819                 Armenia      8      664
7            AN  12.22608  -69.06009    Netherlands Antilles      2      655
8            AO -11.20269   17.87389                  Angola      4      689
9            AQ -75.25097   -0.07139              Antarctica     19      279
10           AR -38.41610  -63.61667               Argentina      9      233
11           AS -14.27097 -170.13222          American Samoa      5      154
12           AT  47.51623   14.55007                 Austria     22       30
13           AU -25.27440  133.77514               Australia      0      683
14           AW  12.52111  -69.96834                   Aruba      2      158
15           AZ  40.14310   47.57693              Azerbaijan      8      748
16           BA  43.91589   17.67908  Bosnia and Herzegovina     22      892
17           BB  13.19389  -59.54320                Barbados     13      794
18           BD  23.68499   90.35633              Bangladesh     26      374
19           BE  50.50389    4.46994                 Belgium      7      442

In [104]:
def returnClusters(df, neps):
    df_aux = df.groupby(['label']).sum()
    df_aux['label'] = df_aux.index
    df_aux = df_aux[['label','vlr_deb']]
    df_aux.sort_values(by='vlr_deb', ascending=False, inplace=True)
    df_aux = df_aux.head(neps)
    clusters = df_aux['label'].unique()
    return clusters

clusters = returnClusters(ww, neps)
ww['alvo'] = np.where(ww['label'].isin(clusters), 1, 0)
ww.head(20)

,country_code,latitude,longitude,country,label,vlr_deb,alvo
0,AD,42.54624,1.60155,Andorra,28,815,1
1,AE,23.42408,53.84782,United Arab Emirates,14,723,0
2,AF,33.93911,67.70995,Afghanistan,12,294,0
3,AG,17.06082,-61.79643,Antigua and Barbuda,13,53,0
4,AI,18.22055,-63.06862,Anguilla,13,204,0
5,AL,41.15333,20.16833,Albania,21,372,0
6,AM,40.06910,45.03819,Armenia,8,664,0
7,AN,12.22608,-69.06009,Netherlands Antilles,2,655,1
8,AO,-11.20269,17.87389,Angola,4,689,1
9,AQ,-75.25097,-0.07139,Antarctica,19,279,0
10,AR,-38.41610,-63.61667,Argentina,9,233,0
11,AS,-14.27097,-170.13222,American Samoa,5,154,0
12,AT,47.51623,14.55007,Austria,22,30,0
13,AU,-25.27440,133.77514,Australia,0,683,1
14,AW,12.52111,-69.96834,Aruba,2,158,1
15,AZ,40.14310,47.57693,Azerbaijan,8,748,0
16,BA,43.91589,17.67908,Bosnia and Herzegovina,22,892,0
17,BB,13.19389,-59.54320,Barbados,13,794,0
18,BD,23.68499,90.35633,Bangladesh,26,374,0
19,BE,50.50389,4.46994,Belgium,7,442,0

In [105]:
ww.to_excel("ww_all_countries.xlsx")

In [106]:
ww = ww[ww['alvo']==1]
ww.head(10)

,country_code,latitude,longitude,country,label,vlr_deb,alvo
0,AD,42.54624,1.60155,Andorra,28,815,1
7,AN,12.22608,-69.06009,Netherlands Antilles,2,655,1
8,AO,-11.20269,17.87389,Angola,4,689,1
13,AU,-25.27440,133.77514,Australia,0,683,1
14,AW,12.52111,-69.96834,Aruba,2,158,1
21,BG,42.73388,25.48583,Bulgaria,3,880,1
23,BI,-3.37306,29.91889,Burundi,4,325,1
25,BM,32.32138,-64.75737,Bermuda,25,969,1
26,BN,4.53528,114.72767,Brunei,0,383,1
29,BS,25.03428,-77.39628,Bahamas,25,431,1

In [107]:
ww.sort_values(by=['label', 'vlr_deb'], ascending=False, inplace=True)
ww['util'] = ww.groupby('label')['vlr_deb'].rank(ascending=False)
ww.head(8)

    country_code  latitude  longitude    country  label  vlr_deb  alvo  util
71            FR  46.22764    2.21375     France     28      997     1   1.0
134           MA  31.79170   -7.09262    Morocco     28      967     1   2.0
79            GI  36.13774   -5.34537  Gibraltar     28      840     1   3.0
0             AD  42.54624    1.60155    Andorra     28      815     1   4.0
64            ES  40.46367   -3.74922      Spain     28      781     1   5.0
58            DZ  28.03389    1.65963    Algeria     28      490     1   6.0
180           PT  39.39987   -8.22445   Portugal     28       46     1   7.0
108           JE  49.21444   -2.13125     Jersey     28       10     1   8.0

In [108]:
def define_alvo(df, capacity):
    df['util'] = np.where(df['util'] <= capacity, 'ALVO', 'COMPLEMENTO')
    return df

ww = define_alvo(ww, capacity)
ww.head(8)

    country_code  latitude  longitude    country  label  vlr_deb  alvo  util
71            FR  46.22764    2.21375     France     28      997     1  ALVO
134           MA  31.79170   -7.09262    Morocco     28      967     1  ALVO
79            GI  36.13774   -5.34537  Gibraltar     28      840     1  ALVO
0             AD  42.54624    1.60155    Andorra     28      815     1  ALVO
64            ES  40.46367   -3.74922      Spain     28      781     1  ALVO
58            DZ  28.03389    1.65963    Algeria     28      490     1  ALVO
180           PT  39.39987   -8.22445   Portugal     28       46     1  ALVO
108           JE  49.21444   -2.13125     Jersey     28       10     1  ALVO

In [109]:
ww['equipe'] = ww['country'].map(str) + '_' + ww['label'].map(str)
ww.head(100)

,country_code,latitude,longitude,country,label,vlr_deb,alvo,util,equipe
71,FR,46.22764,2.21375,France,28,997,1,ALVO,France_28
134,MA,31.79170,-7.09262,Morocco,28,967,1,ALVO,Morocco_28
79,GI,36.13774,-5.34537,Gibraltar,28,840,1,ALVO,Gibraltar_28
0,AD,42.54624,1.60155,Andorra,28,815,1,ALVO,Andorra_28
64,ES,40.46367,-3.74922,Spain,28,781,1,ALVO,Spain_28
58,DZ,28.03389,1.65963,Algeria,28,490,1,ALVO,Algeria_28
180,PT,39.39987,-8.22445,Portugal,28,46,1,ALVO,Portugal_28
108,JE,49.21444,-2.13125,Jersey,28,10,1,ALVO,Jersey_28
25,BM,32.32138,-64.75737,Bermuda,25,969,1,ALVO,Bermuda_25
48,CU,21.52176,-77.78117,Cuba,25,908,1,ALVO,Cuba_25
153,MX,23.63450,-102.55278,Mexico,25,877,1,ALVO,Mexico_25
35,CA,56.13037,-106.34677,Canada,25,802,1,ALVO,Canada_25
227,US,37.09024,-95.71289,United States,25,779,1,ALVO,United States_25
29,BS,25.03428,-77.39628,Bahamas,25,431,1,ALVO,Bahamas_25
109,JM,18.10958,-77.29751,Jamaica,25,284,1,ALVO,Jamaica_25
121,KY,19.51347,-80.56696,Cayman Islands,25,183,1,ALVO,Cayman Islands_25
70,FO,61.89264,-6.91181,Faroe Islands,20,991,1,ALVO,Faroe Islands_20
106,IS,64.96305,-19.02084,Iceland,20,911,1,ALVO,Iceland_20
73,GB,55.37805,-3.43597,United Kingdom,20,761,1,ALVO,United Kingdom_20
101,IM,54.23611,-4.54806,Isle of Man,20,750,1,ALVO,Isle of Man_20
99,IE,53.41291,-8.24389,Ireland,20,707,1,ALVO,Ireland_20
77,GG,49.46569,-2.58528,Guernsey,20,528,1,ALVO,Guernsey_20
80,GL,71.70694,-42.60430,Greenland,20,440,1,ALVO,Greenland_20
176,PM,46.94194,-56.27111,Saint Pierre and Miquelon,20,130,1,ALVO,Saint Pierre and Miquelon_20
160,NG,9.08200,8.67528,Nigeria,18,996,1,ALVO,Nigeria_18
209,TD,15.45417,18.73221,Chad,18,864,1,ALVO,Chad_18
204,ST,0.18636,6.61308,So Tom and Prncipe,18,788,1,ALVO,So Tom and Prncipe_18
39,CG,-0.22802,15.82766,Congo [Republic],18,743,1,ALVO,Congo [Republic]_18
72,GA,-0.80369,11.60944,Gabon,18,671,1,ALVO,Gabon_18
44,CM,7.36972,12.35472,Cameroon,18,336,1,ALVO,Cameroon_18
38,CF,6.61111,20.93944,Central African Republic,18,195,1,ALVO,Central African Republic_18
84,GQ,1.65080,10.26789,Equatorial Guinea,18,86,1,ALVO,Equatorial Guinea_18
169,PA,8.53798,-80.78213,Panama,17,990,1,ALVO,Panama_17
87,GT,15.78347,-90.23076,Guatemala,17,979,1,ALVO,Guatemala_17
161,NI,12.86542,-85.20723,Nicaragua,17,832,1,ALVO,Nicaragua_17
94,HN,15.20000,-86.24190,Honduras,17,805,1,ALVO,Honduras_17
205,SV,13.79418,-88.89653,El Salvador,17,784,1,ALVO,El Salvador_17
59,EC,-1.83124,-78.18341,Ecuador,17,619,1,ALVO,Ecuador_17
34,BZ,17.18988,-88.49765,Belize,17,293,1,ALVO,Belize_17
47,CR,9.74892,-83.75343,Costa Rica,17,275,1,ALVO,Costa Rica_17
157,NC,-20.90430,165.61804,New Caledonia,11,992,1,ALVO,New Caledonia_11
67,FJ,-16.57819,179.41441,Fiji,11,908,1,ALVO,Fiji_11
159,NF,-29.04084,167.95471,Norfolk Island,11,891,1,ALVO,Norfolk Island_11
167,NZ,-40.90056,174.88597,New Zealand,11,753,1,ALVO,New Zealand_11
236,VU,-15.37671,166.95916,Vanuatu,11,487,1,ALVO,Vanuatu_11
190,SB,-9.64571,160.15619,Solomon Islands,11,471,1,ALVO,Solomon Islands_11
221,TV,-7.10954,177.64933,Tuvalu,11,164,1,ALVO,Tuvalu_11
165,NR,-0.52278,166.93150,Nauru,11,136,1,ALVO,Nauru_11
243,ZM,-13.13390,27.84933,Zambia,4,855,1,ALVO,Zambia_4
244,ZW,-19.01544,29.15486,Zimbabwe,4,793,1,ALVO,Zimbabwe_4
152,MW,-13.25431,34.30152,Malawi,4,713,1,ALVO,Malawi_4
8,AO,-11.20269,17.87389,Angola,4,689,1,ALVO,Angola_4
188,RW,-1.94028,29.87389,Rwanda,4,682,1,ALVO,Rwanda_4
37,CD,-4.03833,21.75866,Congo [DRC],4,506,1,ALVO,Congo [DRC]_4
23,BI,-3.37306,29.91889,Burundi,4,325,1,ALVO,Burundi_4
223,TZ,-6.36903,34.88882,Tanzania,4,317,1,ALVO,Tanzania_4
85,GR,39.07421,21.82431,Greece,3,940,1,ALVO,Greece_3
21,BG,42.73388,25.48583,Bulgaria,3,880,1,ALVO,Bulgaria_3
186,RS,44.01652,21.00586,Serbia,3,673,1,ALVO,Serbia_3
185,RO,45.94316,24.96676,Romania,3,600,1,ALVO,Romania_3
224,UA,48.37943,31.16558,Ukraine,3,540,1,ALVO,Ukraine_3
239,XK,42.60264,20.90298,Kosovo,3,460,1,ALVO,Kosovo_3
140,MK,41.60864,21.74528,Macedonia [FYROM],3,436,1,ALVO,Macedonia [FYROM]_3
136,MD,47.41163,28.36988,Moldova,3,119,1,ALVO,Moldova_3
234,VI,18.33576,-64.89633,U.S. Virgin Islands,2,921,1,ALVO,U.S. Virgin Islands_2
208,TC,21.69402,-71.79793,Turks and Caicos Islands,2,881,1,ALVO,Turks and Caicos Islands_2
57,DO,18.73569,-70.16265,Dominican Republic,2,828,1,ALVO,Dominican Republic_2
96,HT,18.97119,-72.28521,Haiti,2,806,1,ALVO,Haiti_2
7,AN,12.22608,-69.06009,Netherlands Antilles,2,655,1,ALVO,Netherlands Antilles_2
178,PR,18.22083,-66.59015,Puerto Rico,2,591,1,ALVO,Puerto Rico_2
14,AW,12.52111,-69.96834,Aruba,2,158,1,ALVO,Aruba_2
233,VG,18.42069,-64.63997,British Virgin Islands,2,98,1,ALVO,British Virgin Islands_2
98,ID,-0.78928,113.92133,Indonesia,0,996,1,ALVO,Indonesia_0
215,TL,-8.87422,125.72754,Timor-Leste,0,953,1,ALVO,Timor-Leste_0
36,CC,-12.16416,96.87096,Cocos [Keeling] Islands,0,934,1,ALVO,Cocos [Keeling] Islands_0
154,MY,4.21048,101.97577,Malaysia,0,787,1,ALVO,Malaysia_0
194,SG,1.35208,103.81984,Singapore,0,786,1,ALVO,Singapore_0
13,AU,-25.27440,133.77514,Australia,0,683,1,ALVO,Australia_0
50,CX,-10.44753,105.69045,Christmas Island,0,459,1,ALVO,Christmas Island_0
26,BN,4.53528,114.72767,Brunei,0,383,1,ALVO,Brunei_0

In [111]:
pd.set_option('display.max_rows', None)
ww.to_excel("world_countries_alvos.xlsx")